---
- name: Monitor PetClinic HTTP + Tomcat process
  hosts: localhost
  become: no
  vars:
    nagios_cfg_dir: "/usr/local/nagios/etc"
    nagios_objects_dir: "/usr/local/nagios/etc/objects"
    nagios_servers_dir: "/usr/local/nagios/etc/servers"
    tomcat_host: "127.0.0.1"
    tomcat_port: "9090"
    petclinic_url: "/petclinic"
    petclinic_check_string: "Spring PetClinic"
  tasks:
    - name: Ensure servers directory exists
      file:
        path: "{{ nagios_servers_dir }}"
        state: directory
        mode: "0770"

    - name: Fix lock file location
      lineinfile:
        path: "{{ nagios_cfg_dir }}/nagios.cfg"
        regexp: '^lock_file='
        line: 'lock_file=/usr/local/nagios/var/nagios.lock'

    - name: Add check commands
      blockinfile:
        path: "{{ nagios_objects_dir }}/commands.cfg"
        marker: "# {mark} ANSIBLE MANAGED PETCLINIC COMMAND"
        block: |
          define command{
              command_name    check_petclinic_http
              command_line    /usr/local/nagios/libexec/check_http -H $ARG1$ -p $ARG2$ -u $ARG3$ -s "$ARG4$" --onredirect=critical
          }
          define command{
              command_name    check_procs
              command_line    /usr/local/nagios/libexec/check_procs $ARG1$
          }

    - name: Deploy PetClinic service
      copy:
        dest: "{{ nagios_servers_dir }}/petclinic_services.cfg"
        mode: "0660"
        content: |
          define service {
            use                     generic-service
            host_name               localhost
            service_description     PetClinic HTTP Check
            check_command           check_petclinic_http!{{ tomcat_host }}!{{ tomcat_port }}!{{ petclinic_url }}!{{ petclinic_check_string }}
          }
          define service {
            use                     generic-service
            host_name               localhost
            service_description     Tomcat Process Check
            check_command           check_procs!-C java
          }

    - name: Ensure servers directory is included in nagios.cfg
      lineinfile:
        path: "{{ nagios_cfg_dir }}/nagios.cfg"
        line: "cfg_dir={{ nagios_servers_dir }}"
        state: present

    - name: Validate Nagios configuration
      command: "/usr/local/nagios/bin/nagios -v {{ nagios_cfg_dir }}/nagios.cfg"
      register: nagios_validation
      failed_when: "'Things look okay' not in nagios_validation.stdout"

    - name: Restart Nagios
      shell: |
        pkill nagios || true
        sleep 2
        /usr/local/nagios/bin/nagios -d {{ nagios_cfg_dir }}/nagios.cfg
        sleep 5

    - name: Notify
      debug:
        msg: "Nagios monitoring configured successfully"
